## Importing the required packages

In [1]:
import pandas as pd
import sys
import cx_Oracle as cora

Defining the path to the instant oracle client

In [2]:
cora.init_oracle_client(lib_dir = "C:/Users/patek/Downloads/Phase5-JDBC/instantclient_21_7")

## Display contents of 3 main tables

1. BUYS_RENTS table

In [3]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit(0)

c = conn.cursor()
c.execute('select * from FALL22_S004_10_BUYS_RENTS')
num_col = 9
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_buys_rents = pd.DataFrame(pd_list, columns = ["AVAIL_SONG_ID", "CUST_ID", "TRANS_ID", "TRANS_TYPE", "PAY_MODE", "TRANS_DATE", "TRANS_TIME", "BANK_NAME", "DURATION"])

conn.close()
print(df_buys_rents.to_string())

     AVAIL_SONG_ID  CUST_ID  TRANS_ID TRANS_TYPE PAY_MODE  TRANS_DATE TRANS_TIME        BANK_NAME  DURATION
0             1055    30032        10          R    debit  03-27-2010   02:41:53            Chase         1
1             1061    30015        11          B    bankt  06-18-2010   14:04:40      Truist Bank        10
2             1037    30029        12          R    bankt  07-02-2010   18:21:55  Bank of America        11
3             1036    30018        13          R    debit  07-06-2010   04:05:48    Goldman Sachs        11
4             1051    30018        14          B    debit  07-21-2010   17:42:34         PNC Bank        11
5             1024    30018        15          B    bankt  08-25-2010   23:33:25            Chase         8
6             1055    30037        16          B    debit  10-22-2010   13:59:52      Truist Bank         2
7             1029    30019        17          B    credt  12-16-2010   13:31:35  Bank of America         3
8             1058    30025        18          B    bankt  12-22-2010   22:25:16    Goldman Sachs         7
9             1070    30006        19          R    debit  12-25-2010   08:16:12         PNC Bank         8
10            1019    30016        20          R    credt  01-07-2011   01:05:30      Truist Bank        10
11            1031    30002        21          R    debit  04-04-2011   11:13:03            Chase         8
12            1070    30031        22          R    credt  06-02-2011   14:04:10      Truist Bank         6
13            1036    30006        23          B    debit  08-06-2011   14:19:19  Bank of America         1
14            1004    30004        24          B    debit  12-23-2011   10:36:51    Goldman Sachs         1
15            1063    30013        25          B    credt  01-04-2012   12:44:20  Bank of America         7
16            1026    30036        26          R    debit  01-21-2012   22:05:56         Citibank         8
17            1088    30018        27          B    debit  03-30-2012   11:39:38         PNC Bank         5
18            1017    30031        28          R    bankt  04-18-2012   13:15:46            Chase        11
19            1080    30025        29          R    bankt  06-07-2012   23:54:03      Truist Bank        11
20            1021    30030        30          B    debit  06-18-2012   15:49:53         Citibank        12
21            1065    30011        31          B    credt  07-20-2012   10:33:16         PNC Bank        11
22            1051    30006        32          B    debit  11-25-2012   08:25:33  Bank of America         1
23            1083    30007        33          B    debit  11-27-2012   00:44:01         Citibank         7
24            1036    30037        34          B    debit  11-29-2012   12:45:51      Truist Bank         8
25            1037    30019        35          R    bankt  12-22-2012   08:22:05            Chase         8
26            1052    30028        36          R    credt  01-22-2013   14:58:05         Citibank         7
27            1074    30014        37          R    credt  02-01-2013   13:51:15         PNC Bank         5
28            1040    30009        38          R    credt  03-21-2013   07:32:08  Bank of America         1
29            1047    30009        39          B    bankt  04-13-2013   22:47:01         PNC Bank         2
30            1069    30001        40          B    bankt  06-05-2013   10:40:27         Citibank         1
31            1015    30020        41          B    credt  06-17-2013   18:38:31  Bank of America        10
32            1036    30023        42          R    bankt  07-14-2013   16:46:11         PNC Bank         7
33            1058    30019        43          B    credt  01-20-2014   02:44:55            Chase         9
34            1031    30029        44          R    debit  02-13-2014   21:41:30         Citibank        12
35            1073    30032        45          R    bankt  03-01-2014   07:56:42      Truist Bank        10
36            1072    30005        46          B    bankt  03-12-2014   11:39:52  Bank of America        11
37            1004    30033        47          B    credt  05-02-2014   16:45:51         PNC Bank        10
38            1068    30028        48          B    bankt  05-22-2014   06:03:05         Citibank         5
39            1083    30026        49          B    credt  06-30-2014   09:34:58  Bank of America        12
40            1015    30032        50          R    credt  07-13-2014   17:21:06      Truist Bank         5
41            1070    30028        51          R    bankt  08-05-2014   03:05:43         Citibank        11
42            1085    30030        52          B    debit  08-10-2014   22:32:56         Citibank         9
43            1014    30023        53          B    debit  09-02-2014   09:53:12         PNC Bank         5
44            1033    30006        54          B    debit  09-07-2014   23:16:25  Bank of America         7
45            1044    30004        55          B    debit  09-08-2014   13:13:58         PNC Bank         1
46            1031    30040        56          B    debit  11-23-2014   17:09:25            Chase         2
47            1005    30015        57          R    bankt  12-19-2014   16:51:45         Citibank        11
48            1019    30001        58          R    credt  01-13-2015   12:32:56    Goldman Sachs         1
49            1088    30005        59          R    credt  01-27-2015   03:50:52    Goldman Sachs         9
50            1058    30013        60          R    debit  03-28-2015   07:56:23         Citibank        10
51            1050    30036        61          B    bankt  04-04-2015   04:52:47      Truist Bank         2
52            1017    30024        62          B    bankt  05-16-2015   11:30:19         Citibank         2
53            1045    30020        63          B    credt  05-21-2015   19:58:36            Chase         7
54            1030    30026        64          R    bankt  06-18-2015   02:07:21            Chase         1
55            1029    30038        66          R    debit  08-19-2015   12:05:21  Bank of America         8
56            1054    30022        67          R    bankt  08-25-2015   16:24:36         PNC Bank         7
57            1052    30021        68          B    credt  04-10-2016   06:59:26         PNC Bank        10
58            1073    30012        69          B    bankt  05-15-2016   01:03:09  Bank of America         9
59            1011    30037        70          B    credt  05-17-2016   16:39:58            Chase         7
60            1007    30029        71          R    debit  08-17-2016   20:38:49      Truist Bank         8
61            1063    30014        72          B    credt  08-28-2016   08:42:04         PNC Bank        10
62            1060    30018        73          B    bankt  11-20-2016   16:57:28         Citibank         8
63            1016    30024        74          B    credt  12-22-2016   18:49:57      Truist Bank         1
64            1069    30009        75          B    debit  02-27-2017   11:09:11      Truist Bank        12
65            1043    30033        76          B    credt  07-02-2017   11:22:23            Chase         6
66            1026    30008        77          R    debit  08-08-2017   18:04:54         PNC Bank         3
67            1037    30017        78          R    bankt  09-04-2017   06:19:46         PNC Bank         9
68            1008    30039        79          R    credt  09-05-2017   01:45:36  Bank of America         7
69            1024    30007        80          R    bankt  09-14-2017   10:06:08  Bank of America         9
70            1038    30010        81          B    bankt  10-23-2017   08:30:36  Bank of America        12
71            1036    30035        83          B    credt  11-07-2017   10:50:42    Goldman Sachs        11
72            1032    30002        85          B    bankt  03-20-2018   20:06:59  Bank of America         7
73            1048    30025        86          R    debit  04-24-2018   10:07:04         PNC Bank        10
74            1013    30019        87          R    debit  06-29-2018   21:32:05            Chase         3
75            1083    30011        88          B    credt  10-01-2018   20:12:40  Bank of America         1
76            1047    30034        89          B    debit  10-16-2018   20:40:43         Citibank         1
77            1068    30021        90          B    credt  01-06-2019   17:35:06    Goldman Sachs         9
78            1055    30011        91          B    bankt  01-23-2019   03:58:23            Chase         4
79            1023    30020        92          R    debit  01-29-2019   21:53:07         Citibank        12
80            1079    30013        93          B    debit  05-18-2019   20:00:40         PNC Bank        12
81            1006    30027        94          R    debit  09-05-2019   14:51:59         Citibank        12
82            1051    30008        95          R    debit  10-14-2019   05:59:47  Bank of America         9
83            1018    30040        96          B    debit  10-17-2019   20:00:39         PNC Bank         6
84            1065    30014        97          B    bankt  01-12-2020   11:43:03      Truist Bank         3
85            1074    30028        98          B    credt  03-11-2020   05:53:29            Chase         9
86            1072    30016        99          B    credt  03-21-2020   23:06:37  Bank of America         3
87            1084    30031       100          B    debit  04-22-2020   11:32:22            Chase         9
88            1040    30035       101          R    bankt  04-24-2020   19:33:41         Citibank        10
89            1022    30006       102          R    bankt  05-19-2020   12:11:09         PNC Bank         6
90            1061    30030       103          R    credt  07-22-2020   20:25:11         Citibank         7
91            1004    30034       104          R    bankt  09-12-2020   18:46:30    Goldman Sachs         9
92            1042    30033       105          B    debit  11-10-2020   09:53:11  Bank of America         7
93            1067    30017       106          B    debit  01-06-2021   08:30:40      Truist Bank         3
94            1062    30026       107          R    bankt  01-19-2021   03:01:59      Truist Bank         5
95            1077    30001       108          R    credt  03-14-2021   00:00:29         PNC Bank         4
96            1057    30003       109          B    bankt  04-16-2021   14:49:40         Citibank         5
97            1028    30023       110          B    credt  09-01-2021   09:06:34         Citibank        10
98            1021    30018       111          B    debit  11-05-2021   20:41:13  Bank of America         5
99            1080    30039       112          B    credt  12-11-2021   03:35:24      Truist Bank        12
100           1076    30009       113          R    bankt  12-13-2021   16:08:37         PNC Bank        10

2. SONGS table

In [4]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit(0)

c = conn.cursor()
c.execute('select * from FALL22_S004_10_SONGS')
num_col = 5
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_songs = pd.DataFrame(pd_list, columns = ["SONG_ID", "SONG_NAME", "GENRE", "REGION", "RELEASE_DATE"])

conn.close()
print(df_songs.to_string())

     SONG_ID                             SONG_NAME   GENRE  REGION RELEASE_DATE
0          4                               Silence     RnB       2   08-31-2009
1          5                                 Sorry  Hiphop       3   10-30-2000
2          6                             Despacito     Rap       3   02-04-2009
3          7                               Closure    Jazz       2   08-17-2008
4          8                                  Mood     RnB       1   11-25-2007
5          9                                  Maps  Hiphop       2   02-17-2004
6         11                  Like a Rolling Stone     Rap       1   11-25-2008
7         12               Smells Like Teen Spirit  Hiphop       1   07-15-2005
8         13                     A Day in the Life    Jazz       3   04-24-2004
9         14                       Good Vibrations  Hiphop       3   01-13-2006
10        15                       Johnny B. Goode    Jazz       3   10-21-2008
11        16                               Respect     RnB       1   11-06-2005
12        17                            Be My Baby     RnB       3   05-14-2005
13        18                        Whats Going On    Jazz       2   02-22-2004
14        19      I Heard It Through the Grapevine     RnB       1   02-25-2007
15        20          (I Cant Get No) Satisfaction  Hiphop       2   11-07-2003
16        21                           Billie Jean     RnB       1   04-22-2004
17        22                      Heartbreak Hotel     RnB       1   03-24-2001
18        23                           Born to Run  Hiphop       1   06-29-2009
19        24                         My Generation     RnB       3   08-17-2010
20        25               Love Will Tear Us Apart     RnB       3   04-24-2010
21        26                        God Only Knows  Hiphop       2   06-18-2005
22        27       (Sittin On) The Dock of the Bay    Jazz       3   11-13-2005
23        28                               Hey Ya!    Jazz       1   08-25-2004
24        29                   Anarchy in the U.K.     RnB       1   06-07-2005
25        30                          Paper Planes  Hiphop       2   08-15-2010
26        31                        London Calling     RnB       3   06-18-2008
27        32                Sympathy for the Devil     Rap       1   12-14-2003
28        33             Strawberry Fields Forever    Jazz       3   07-24-2009
29        34                          Tutti Frutti     RnB       2   12-04-2008
30        35                    Stairway to Heaven     RnB       2   02-14-2005
31        36                           The Message  Hiphop       1   10-25-2004
32        37                           Whatd I Say     RnB       1   10-17-2000
33        38                               Imagine    Jazz       1   04-24-2002
34        39                A Change Is Gonna Come    Jazz       1   09-04-2002
35        40                                Heroes  Hiphop       3   02-05-2003
36        41                        When Doves Cry     Rap       3   06-22-2006
37        42                          Superstition     RnB       1   03-17-2002
38        43                         Common People     RnB       3   06-27-2001
39        44                         Gimme Shelter     RnB       3   01-08-2007
40        45                         Strange Fruit     Rap       1   09-22-2004
41        46                     You Really Got Me    Jazz       3   05-01-2002
42        47                         Crazy in Love  Hiphop       1   01-03-2002
43        48                     Seven Nation Army     RnB       3   03-07-2000
44        49                    Losing My Religion     Rap       3   06-21-2008
45        50                    God Save the Queen    Jazz       3   12-12-2005
46        51                     Bohemian Rhapsody     RnB       3   03-12-2001
47        52                           Blue Monday     Rap       3   10-30-2003
48        53                           Purple Haze    Jazz       1   02-10-2002
49        54                           Louie Louie  Hiphop       1   05-29-2000
50        55                       I Want You Back    Jazz       2   09-06-2007
51        56                                 Crazy    Jazz       3   12-03-2005
52        57          Youve Lost That Lovin Feelin  Hiphop       2   10-05-2009
53        58                              Hey Jude  Hiphop       1   12-14-2009
54        59                       Waterloo Sunset     Rap       3   03-20-2000
55        60                           Take Me Out     RnB       1   03-09-2007
56        61                       Get Ur Freak On  Hiphop       3   10-10-2007
57        62                     Thatll Be the Day    Jazz       2   08-17-2007
58        63                         Light My Fire     RnB       1   09-19-2003
59        64                           I Feel Love  Hiphop       2   03-14-2010
60        65  There Is a Light That Never Goes Out  Hiphop       1   01-08-2009
61        66                          Space Oddity     RnB       2   08-16-2008
62        67                           Stand by Me  Hiphop       2   07-28-2002
63        68                    Mr. Tambourine Man  Hiphop       3   10-28-2001
64        69                 Bitter Sweet Symphony     RnB       1   01-11-2000
65        70    (Were Gonna) Rock Around the Clock  Hiphop       3   08-07-2004
66        71                                 Layla     RnB       2   08-25-2001
67        72            River Deep - Mountain High     RnB       1   05-02-2009
68        73                   Unfinished Sympathy    Jazz       2   05-01-2000
69        74                                 Loser    Jazz       2   04-10-2005
70        75                       Fight the Power  Hiphop       2   05-02-2010
71        76                    Once in a Lifetime     RnB       1   04-15-2006
72        77                      Paranoid Android  Hiphop       2   11-11-2002
73        78                      Whole Lotta Love     Rap       2   11-19-2007
74        79                               Alright  Hiphop       2   07-18-2008
75        80               House of the Rising Sun     Rap       2   04-17-2004
76        81                 Walk on the Wild Side     RnB       3   12-22-2007
77        82                      Hotel California    Jazz       1   01-22-2009
78        83                           99 Problems     RnB       2   01-26-2008
79        84                     Dancing on My Own    Jazz       1   08-08-2006
80        85                             Formation     Rap       2   08-14-2010
81        86                    Lets Stay Together     Rap       1   06-09-2009
82        87                     Jumpin Jack Flash  Hiphop       1   03-01-2007
83        88                        All My Friends    Jazz       2   04-06-2006
84        89                    California Dreamin  Hiphop       3   09-02-2000
85        90                        Blitzkrieg Bop    Jazz       3   09-10-2007
86        91                 Dancing in the Street  Hiphop       2   03-24-2010
87        92                             Hound Dog     Rap       2   10-08-2005
88        93                              Oblivion  Hiphop       1   09-03-2002
89        94              I Want to Hold Your Hand     Rap       3   08-10-2000
90        95              All Along the Watchtower     Rap       2   05-20-2007
91        96                  Nothing Compares 2 U    Jazz       1   06-08-2002
92        97                      How Soon Is Now?    Jazz       2   10-28-2009
93        98                    Sweet Child O Mine     Rap       1   10-07-2009
94        99                    For What Its Worth  Hiphop       3   02-12-2005
95       100                            The Weight  Hiphop       1   09-21-2002
96       101                               Runaway     RnB       1   08-08-2006
97       102                            Ghost Town     RnB       2   01-01-2003
98       103                                Royals    Jazz       1   11-08-2003
99       104                                 rejaa    Jazz       3   04-10-2010
100      105                                thekkw    Jazz       1   01-04-2001
101      106                                 lovew     Rap       2   12-04-2004

3. PERSONS table

In [5]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit(0)

c = conn.cursor()
c.execute('select * from FALL22_S004_10_PERSON')
num_col = 6
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_person = pd.DataFrame(pd_list, columns = ["PID", "FNAME", "MNAME", "LNAME", "GENDER", "DOB"])

conn.close()
print(df_person.to_string())

      PID        FNAME      MNAME      LNAME GENDER         DOB
0    2001      Aaliyah       None      Acuff      m  02-19-1950
1    2002          Roy       None      Adams      m  10-10-1983
2    2003         Edie       None   Aguilera      m  04-28-1965
3    2004    Christina       None      Allen      m  11-17-1988
4    2005        Betty       None    Allison      f  07-06-1966
5    2006       Luther       None      Amara      f  06-11-1987
6    2007       Lucine       None   Anderson      m  02-13-1986
7    2008         Carl       None   Anderson      m  01-08-1986
8    2009       Marian       None    Andrews      m  12-09-1986
9    2010      LaVerne       None    Andrews      m  03-21-1962
10   2011       Maxene       None    Andrews      f  07-24-1970
11   2012        Patty       None       Anka      m  12-10-1981
12   2013         Paul       None    Anthony      m  12-17-1969
13   2014      Charles       None  Armstrong      f  06-10-1989
14   2015        Louis       None     Arnold      m  05-03-1987
15   2016         Eddy       None    Ashford      m  04-08-1988
16   2017         Nick       None      Autry      m  11-25-1988
17   2018         Gene       None     Avalon      m  07-31-1969
18   2019      Frankie      Axton      Wayne      m  04-24-1988
19   2020         Hoyt       None       Badu      m  08-01-1964
20   2021       Erykah       None       Baez      f  03-20-1965
21   2022         Joan       None     Bailey      f  02-14-1979
22   2023      Mildred       None      Baker      m  01-02-1986
23   2024        Anita       None      Baker      m  09-20-1962
24   2025         Chet       None      Baker      m  08-05-1985
25   2026    Josephine       None      Baker      m  12-24-1973
26   2027       LaVern       None    Ballard      f  06-14-1972
27   2028         Hank       None    Banhart      m  06-01-1986
28   2029     Devendra       None     Barber      m  06-04-1974
29   2030     Patricia    Barbour      Edwin      f  10-09-1974
30   2031         Ross     Barker     Dupont      m  02-13-1990
31   2032       Louisa       None     Battle      m  01-15-1987
32   2033     Kathleen       None      Bayes      m  11-15-1989
33   2034         Nora       None     Fatehi      m  08-11-1979
34   2035         Beck       None  Belafonte      m  06-24-1967
35   2036        Harry       None     Beneke      m  02-22-1988
36   2037          Tex       None    Bennett      f  04-27-1990
37   2038      Estelle       None    Bennett      f  11-01-1955
38   2039         Tony       None     Benson      m  09-05-1977
39   2040         Obie       None  Berberian      m  04-14-1989
40   2041          Ara       None      Berry      m  01-01-1951
41   2042        Chuck       None      Berry      m  10-28-1984
42   2043          Jan       None      Duong      f  12-30-1968
43   2044      Beyonc�       None       Bird      m  02-20-1953
44   2045       Andrew       None  Blackwell      f  10-17-1960
45   2046         Otis       None  Blackwood      m  12-25-1961
46   2047        James      Bland   (?Blue?)      m  11-01-1980
47   2048        Bobby      Blige         J.      m  07-20-1956
48   2049         Mary       None       Bono      m  06-16-1987
49   2050        Sonny       None      Boone      f  03-29-1965
50   2051          Pat    Sisters    Boswell      m  12-20-1955
51   2052          The       None     Willie      m  04-18-1980
52   2053       Boxcar       None   Branigan      f  05-24-1965
53   2054        Laura       None      Brice      m  03-22-1951
54   2055        Fanny       None     Brooks      m  05-01-1957
55   2056        Garth    (?Kix?)       Eric      m  10-13-1983
56   2057         Leon    Broonzy       Bill      m  04-06-1979
57   2058          Big      Brown    Wiggins      m  10-28-1957
58   2059         Anne       None      Brown      m  11-18-1955
59   2060      Charles       None      Brown      f  03-18-1967
60   2061        Chris       None      Brown      f  12-27-1968
61   2062    Gatemouth       None      Brown      m  12-14-1978
62   2063        James       None      Brown      m  10-22-1984
63   2064         Ruth       None     Browne      m  10-01-1952
64   2065      Jackson       None    Buckley      m  02-27-1990
65   2066         Jeff       None      Burke      f  01-17-1965
66   2067      Solomon   Burleigh    Thacker      m  09-01-1989
67   2068        Harry       None       Cale      f  08-12-1973
68   2069         J.J.       None     Callas      m  02-07-1978
69   2070        Maria       None   Calloway      m  09-08-1973
70   2071          Cab       None  Beefheart      m  02-26-1978
71   2072      Captain       None      Carey      m  09-24-1988
72   2073       Mariah       None   Carlisle      f  07-04-1950
73   2074        Kitty       None  Carpenter      m  06-21-1979
74   2075       Thelma       None       Carr      m  07-29-1987
75   2076        James       None       Carr      f  08-18-1975
76   2077        Leroy       None    Carroll      m  02-04-1965
77   2078          Jim       None     Carter      m  10-21-1965
78   2079        Betty       None     Carter      m  05-05-1981
79   2080        Helen       None     Carter      m  06-28-1989
80   2081      Janette     Carter         E.      m  12-27-1964
81   2082         John       None     Carter      m  08-24-1990
82   2083     Maybelle       None     Carter      f  09-24-1977
83   2084         Nell       Cary     Louise      f  04-04-1977
84   2085        Annie       None       Cash      m  06-28-1956
85   2086       Johnny       Cash     Carter      m  12-19-1962
86   2087         June       None       Cash      f  09-13-1973
87   2088      Rosanne       None   Cassilly      m  02-17-1969
88   2089      Richard       None   Channing      m  09-18-1956
89   2090        Carol       None     Chapin      m  09-08-1968
90   2091        Harry       None    Charles      m  09-10-1961
91   2092          Ray       None     Chavis      m  03-18-1957
92   2093       Boozoo       None    Chenier      m  01-26-1963
93   2094      Clifton       None       Hill      f  10-25-1981
94   2095         Cher       None    Chesney      f  11-05-1976
95   2096        Kenny       None   Clarkson      m  03-17-1964
96   2097        Kelly       None      Cline      m  03-15-1977
97   2098       Maggie       None      Cline      f  08-09-1951
98   2099        Patsy       None    Clooney      m  04-04-1962
99   2100     Rosemary     Coates       Love      m  07-10-1974
100  2101      Dorothy       None     Cobain      m  03-03-1964
101  2102         Kurt       None    Cochran      m  06-05-1980
102  2103        Eddie       None    Cochran      m  01-26-1953
103  2104         Hank       Cole       King      m  05-24-1973
104  2105          Nat       None       Cole      f  04-16-1951
105  2106      Natalie       None      Coley      f  07-18-1965
106  2107        Doris       None    Collins      m  11-14-1963
107  2108         Judy       None       Como      m  06-19-1950
108  2109        Perry        Jr.   Connick,      m  11-20-1964
109  2110        Harry       None     Connor      f  08-19-1976
110  2111        Chris       None      Cooke      f  05-17-1975
111  2112          Sam   Copeland      Clyde      m  05-24-1963
112  2113       Johnny       None    Cornell      m  12-30-1961
113  2114          Don       None    Cowsill      m  03-23-1966
114  2115      William       None     Crosby      f  09-02-1965
115  2116         Bing      Boy?)      (?Big      m  02-29-1960
116  2117       Arthur       None       Cruz      m  12-14-1950
117  2118        Celia       None      Cyrus      f  12-12-1953
118  2119        Miley       None  Dandridge      m  04-27-1976
119  2120         Dale       None    Hawkins      m  12-18-1983
120  2121        Isaac       None      Hayes      m  03-20-1987
121  2122          Lee       None  Hazlewood      m  03-01-1959
122  2123        Levon       None       Helm      m  07-20-1969
123  2124        Woody       None     Herman      m  11-18-1959
124  2125       Albert       None    Hibbler      f  05-22-1984
125  2126   Hildegarde       None     Russel      f  01-21-1983
126  2127        Faith       None       Hill      m  05-19-1984
127  2128       Lauryn       None       Hill      m  06-25-1955
128  2129       Jerome       None      Hines      m  10-26-1968
129  2130          Don       None         Ho      f  11-28-1976
130  2131     Geoffrey       None     Holder      f  06-04-1980
131  2132       Billie       None    Holiday      m  12-06-1966
132  2133        Buddy       None      Holly      m  10-12-1958
133  2134       Louise       None      Homer      m  11-24-1976
134  2135         John     Hooker        Lee      f  04-08-1971
135  2136      Shirley       None       Horn      m  08-15-1967
136  2137         Lena       None      Horne      m  07-25-1962
137  2138      Marilyn       None      Horne      f  11-29-1968
138  2139       Gladys       None     Horton      m  11-28-1983
139  2140      Whitney       None    Houston      m  01-02-1965
140  2141      Howlin?       None       Wolf      m  03-05-1971
141  2142     Jennifer       None     Hudson      f  07-28-1976
142  2143        Glenn       None     Hughes      m  09-22-1953
143  2144      Alberta       None     Hunter      m  04-11-1979
144  2145  Mississippi       Hurt       John      f  01-08-1964
145  2146       Ferlin       None      Husky      m  06-12-1955
146  2147        Betty       None     Hutton      m  03-23-1958
147  2148          Lux       None   Interior      m  04-17-1960
148  2149         Burl       None       Ives      f  04-23-1952
149  2150         Alan       None    Jackson      m  09-12-1957
150  2151        Janet       None    Jackson      m  05-11-1983
151  2152      Mahalia       None    Jackson      f  09-23-1982
152  2153      Michael       None    Jackson      m  08-15-1954
153  2154        Wanda       None    Jackson      m  06-02-1950
154  2155       Elmore       None      James      m  06-27-1987
155  2156         Etta       None      James      f  02-16-1971
156  2157         Rick       None      James      m  05-18-1981
157  2158          Jay       None          Z      m  06-02-1952
158  2159        Blind  Jefferson      Lemon      f  11-10-1953
159  2160       Waylon       None   Jennings      m  08-29-1950
160  2170      Patrick       None     Potter      m  11-10-1998

## Modification from front end

Update name of person from PERSON table by fname and lname.

In [6]:
first_name = input("Enter the name that you want to update: ")
last_name = input("Enter the last name: ")

# need to execute the persons table df above first then only this cell will work
if first_name in df_person['FNAME'].values:
    print("First name present in the database")
else:
    print("ERROR: No such first name exists in the database")
    sys.exit()

if last_name in df_person['LNAME'].values:
    print("Last name present in the database")
else:
    print("ERROR: No such last name exists in the database")
    sys.exit()

df_out = df_person[(df_person['FNAME'] == first_name) & (df_person['LNAME'] == last_name)]
print("\nRecords with the entered names are as follows:")
print(df_out.to_string())

sql = "update fall22_s004_10_person set fname = :fname, lname = :lname where fname = :fname1 and lname = :lname1"

try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit()

c = conn.cursor()

new_fname = input("Enter the new first name: ")
new_lname = input("Enter the new last name: ")

c.execute(sql, [new_fname, new_lname, first_name, last_name])
conn.commit()
c.execute("select * from fall22_s004_10_person where fname = :fname and lname = :lname", [new_fname, new_lname])
pd_list = []
for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_person_new = pd.DataFrame(pd_list, columns = ["PID", "FNAME", "MNAME", "LNAME", "GENDER", "DOB"])

conn.close()

print("\nFollowing are the modified rows of the person table:")
print(df_person_new.to_string())

First name present in the database
Last name present in the database

Records with the entered names are as follows:
      PID    FNAME MNAME   LNAME GENDER         DOB
160  2170  Patrick  None  Potter      m  11-10-1998

Following are the modified rows of the person table:
    PID   FNAME MNAME    LNAME GENDER         DOB
0  2170  Pratik  None  Patekar      m  11-10-1998

Delete song with song id entered by the user.

In [7]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit()

try:
    song_id = int(input("Enter the song id that you want to delete: "))
    if song_id not in df_songs['SONG_ID'].values:
        print("ERROR: Invalid song id entered.")
        sys.exit()
except:
    print("ERROR: Invalid song id entered.")
    sys.exit()

c = conn.cursor()

sql = "delete from fall22_s004_10_songs where song_id = :song_id"
c.execute(sql, [song_id])
conn.commit()
c.execute('select * from FALL22_S004_10_SONGS')
num_col = 5
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_songs = pd.DataFrame(pd_list, columns = ["SONG_ID", "SONG_NAME", "GENRE", "REGION", "RELEASE_DATE"])

conn.close()
print(df_songs.to_string())

     SONG_ID                             SONG_NAME   GENRE  REGION RELEASE_DATE
0          5                                 Sorry  Hiphop       3   10-30-2000
1          6                             Despacito     Rap       3   02-04-2009
2          7                               Closure    Jazz       2   08-17-2008
3          8                                  Mood     RnB       1   11-25-2007
4          9                                  Maps  Hiphop       2   02-17-2004
5         11                  Like a Rolling Stone     Rap       1   11-25-2008
6         12               Smells Like Teen Spirit  Hiphop       1   07-15-2005
7         13                     A Day in the Life    Jazz       3   04-24-2004
8         14                       Good Vibrations  Hiphop       3   01-13-2006
9         15                       Johnny B. Goode    Jazz       3   10-21-2008
10        16                               Respect     RnB       1   11-06-2005
11        17                            Be My Baby     RnB       3   05-14-2005
12        18                        Whats Going On    Jazz       2   02-22-2004
13        19      I Heard It Through the Grapevine     RnB       1   02-25-2007
14        20          (I Cant Get No) Satisfaction  Hiphop       2   11-07-2003
15        21                           Billie Jean     RnB       1   04-22-2004
16        22                      Heartbreak Hotel     RnB       1   03-24-2001
17        23                           Born to Run  Hiphop       1   06-29-2009
18        24                         My Generation     RnB       3   08-17-2010
19        25               Love Will Tear Us Apart     RnB       3   04-24-2010
20        26                        God Only Knows  Hiphop       2   06-18-2005
21        27       (Sittin On) The Dock of the Bay    Jazz       3   11-13-2005
22        28                               Hey Ya!    Jazz       1   08-25-2004
23        29                   Anarchy in the U.K.     RnB       1   06-07-2005
24        30                          Paper Planes  Hiphop       2   08-15-2010
25        31                        London Calling     RnB       3   06-18-2008
26        32                Sympathy for the Devil     Rap       1   12-14-2003
27        33             Strawberry Fields Forever    Jazz       3   07-24-2009
28        34                          Tutti Frutti     RnB       2   12-04-2008
29        35                    Stairway to Heaven     RnB       2   02-14-2005
30        36                           The Message  Hiphop       1   10-25-2004
31        37                           Whatd I Say     RnB       1   10-17-2000
32        38                               Imagine    Jazz       1   04-24-2002
33        39                A Change Is Gonna Come    Jazz       1   09-04-2002
34        40                                Heroes  Hiphop       3   02-05-2003
35        41                        When Doves Cry     Rap       3   06-22-2006
36        42                          Superstition     RnB       1   03-17-2002
37        43                         Common People     RnB       3   06-27-2001
38        44                         Gimme Shelter     RnB       3   01-08-2007
39        45                         Strange Fruit     Rap       1   09-22-2004
40        46                     You Really Got Me    Jazz       3   05-01-2002
41        47                         Crazy in Love  Hiphop       1   01-03-2002
42        48                     Seven Nation Army     RnB       3   03-07-2000
43        49                    Losing My Religion     Rap       3   06-21-2008
44        50                    God Save the Queen    Jazz       3   12-12-2005
45        51                     Bohemian Rhapsody     RnB       3   03-12-2001
46        52                           Blue Monday     Rap       3   10-30-2003
47        53                           Purple Haze    Jazz       1   02-10-2002
48        54                           Louie Louie  Hiphop       1   05-29-2000
49        55                       I Want You Back    Jazz       2   09-06-2007
50        56                                 Crazy    Jazz       3   12-03-2005
51        57          Youve Lost That Lovin Feelin  Hiphop       2   10-05-2009
52        58                              Hey Jude  Hiphop       1   12-14-2009
53        59                       Waterloo Sunset     Rap       3   03-20-2000
54        60                           Take Me Out     RnB       1   03-09-2007
55        61                       Get Ur Freak On  Hiphop       3   10-10-2007
56        62                     Thatll Be the Day    Jazz       2   08-17-2007
57        63                         Light My Fire     RnB       1   09-19-2003
58        64                           I Feel Love  Hiphop       2   03-14-2010
59        65  There Is a Light That Never Goes Out  Hiphop       1   01-08-2009
60        66                          Space Oddity     RnB       2   08-16-2008
61        67                           Stand by Me  Hiphop       2   07-28-2002
62        68                    Mr. Tambourine Man  Hiphop       3   10-28-2001
63        69                 Bitter Sweet Symphony     RnB       1   01-11-2000
64        70    (Were Gonna) Rock Around the Clock  Hiphop       3   08-07-2004
65        71                                 Layla     RnB       2   08-25-2001
66        72            River Deep - Mountain High     RnB       1   05-02-2009
67        73                   Unfinished Sympathy    Jazz       2   05-01-2000
68        74                                 Loser    Jazz       2   04-10-2005
69        75                       Fight the Power  Hiphop       2   05-02-2010
70        76                    Once in a Lifetime     RnB       1   04-15-2006
71        77                      Paranoid Android  Hiphop       2   11-11-2002
72        78                      Whole Lotta Love     Rap       2   11-19-2007
73        79                               Alright  Hiphop       2   07-18-2008
74        80               House of the Rising Sun     Rap       2   04-17-2004
75        81                 Walk on the Wild Side     RnB       3   12-22-2007
76        82                      Hotel California    Jazz       1   01-22-2009
77        83                           99 Problems     RnB       2   01-26-2008
78        84                     Dancing on My Own    Jazz       1   08-08-2006
79        85                             Formation     Rap       2   08-14-2010
80        86                    Lets Stay Together     Rap       1   06-09-2009
81        87                     Jumpin Jack Flash  Hiphop       1   03-01-2007
82        88                        All My Friends    Jazz       2   04-06-2006
83        89                    California Dreamin  Hiphop       3   09-02-2000
84        90                        Blitzkrieg Bop    Jazz       3   09-10-2007
85        91                 Dancing in the Street  Hiphop       2   03-24-2010
86        92                             Hound Dog     Rap       2   10-08-2005
87        93                              Oblivion  Hiphop       1   09-03-2002
88        94              I Want to Hold Your Hand     Rap       3   08-10-2000
89        95              All Along the Watchtower     Rap       2   05-20-2007
90        96                  Nothing Compares 2 U    Jazz       1   06-08-2002
91        97                      How Soon Is Now?    Jazz       2   10-28-2009
92        98                    Sweet Child O Mine     Rap       1   10-07-2009
93        99                    For What Its Worth  Hiphop       3   02-12-2005
94       100                            The Weight  Hiphop       1   09-21-2002
95       101                               Runaway     RnB       1   08-08-2006
96       102                            Ghost Town     RnB       2   01-01-2003
97       103                                Royals    Jazz       1   11-08-2003
98       104                                 rejaa    Jazz       3   04-10-2010
99       105                                thekkw    Jazz       1   01-04-2001
100      106                                 lovew     Rap       2   12-04-2004

## Performing Business goals from front end

Find the number of songs purchased by the customer. Inputs: FNAME, LNAME, Transaction type ('B', 'R')

In [8]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit()

c = conn.cursor()

sql = """
select pid, fname, lname, count(song_id) as song_count
from fall22_s004_10_songs songs, fall22_s004_10_person person
where fname = :fname and
        lname = :lname and 
        (songs.song_id, person.pid) in (-- get pid of customers from customers table
                                      select song_id, pid
                                      from fall22_s004_10_avail_songs asong, fall22_s004_10_customer cust
                                      where (asong.avail_song_id, cust.cust_id) in (-- get pruchase song history from buys_rents table
                                                                                    select avail_song_id, cust_id 
                                                                                    from fall22_s004_10_buys_rents
                                                                                    -- 'B' indicates that song is pruchased and not rented
                                                                                    where trans_type = :trans_type)
                                                                                    )
group by pid, fname, lname
--having count(song_id) >= 2
--order by song_count desc
--fetch first 10 rows only
"""

first_name = input("Enter first name of customer: ")
last_name = input("Enter last name of customer: ")
trans_typp = input("Enter the transaction type (b - purchase, r - rent): ")
if trans_typp.lower() == 'b':
    trans_typp = 'B'
else:
    trans_typp = 'R'

c.execute(sql, [first_name, last_name, trans_typp])

num_col = 4
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_sg_count = pd.DataFrame(pd_list, columns = ["PID", "CUST_FNAME", "CUST_LNAME", "SONG COUNT"])

conn.close()
print(df_sg_count.to_string())

    PID CUST_FNAME CUST_LNAME  SONG COUNT
0  2018       Gene     Avalon           5

Generate cumulative sum revenue report for the year range specified by user.

In [9]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit()

c = conn.cursor()

sql = """
select year, year_revenue, sum(year_revenue) over (order by year rows between unbounded preceding and current row) as cum_revenue
from (
        select year, sum(price) as year_revenue
        from (
                select substr(trans_date, 7, 4) as year, 
                      (case when trans_type = 'B' then purchase_price else rent_price end) as price
                from fall22_s004_10_buys_rents buys_rents, fall22_s004_10_avail_songs asongs
                where buys_rents.avail_song_id = asongs.avail_song_id
                )
        where year between :start_year and :end_year
        group by year
        order by year
        )
        """
# write input check statements
start_year = input("Enter start year: ")
end_year = input("Enter end year: ")

c.execute(sql, [start_year, end_year])

num_col = 3
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_cumm_rev = pd.DataFrame(pd_list, columns = ["YEAR", "YEAR_REVENUE", "CUMM_REVENUE"])

conn.close()
print(df_cumm_rev.to_string())

   YEAR  YEAR_REVENUE  CUMM_REVENUE
0  2010            64            64
1  2011            13            77
2  2012            74           151
3  2013            34           185
4  2014            95           280
5  2015            36           316

Find top "k" singers with highest no. of likes for their songs where k is specified by user.

In [10]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit()

c = conn.cursor()

sql = """select person.fname as singer_fname, person.lname as singer_lname, songs.song_name, count(*) as likes_count
from fall22_s004_10_likes likes, fall22_s004_10_avail_songs asongs, fall22_s004_10_sings sings, fall22_s004_10_songs songs, 
      fall22_s004_10_artist artist, fall22_s004_10_singer singer, fall22_s004_10_person person
where likes.avail_song_id = asongs.avail_song_id and
      asongs.song_id = songs.song_id and
      songs.song_id = sings.song_id and
      sings.singer_id = singer.singer_id and
      singer.artist_id = artist.artist_id and 
      artist.pid = person.pid
group by person.fname, person.lname, sings.singer_id, songs.song_name
order by likes_count desc
fetch first :k_num rows only"""

# write validation for k_num
k_num = int(input("Enter the value of k: "))

c.execute(sql, [k_num])

num_col = 4
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_top_k = pd.DataFrame(pd_list, columns = ["SINGER_FNAME", "SINGER_LNAME", "SONG_NAME", "LIKE_COUNT"])

conn.close()
print(df_top_k.to_string())

  SINGER_FNAME SINGER_LNAME      SONG_NAME  LIKE_COUNT
0      Dorothy       Cobain  My Generation           5
1       Arthur         Cruz         Heroes           5

Find number of songs. User input: available or unavailable.

In [11]:
try:
    conn = cora.connect('pxp7948/Hgd3df7hTdrd8s@az6F72ldbp1.az.uta.edu:1523/pcse1p.data.uta.edu')
except:
    print("ERROR: Could not establish connection with the SQL server.")
    sys.exit()

c = conn.cursor()

sql = """select status, count(song_id) as song_count
from  
      (-- get the song ids of available songs and assign 'Available' as status  
      (select songs.song_id, 'Available' as status 
      from fall22_s004_10_avail_songs asongs, fall22_s004_10_songs songs
      where (songs.song_id = asongs.song_id))
      union
      (-- get the song ids of unavailable songs and assign 'Unavailable' as status
      select songs.song_id, 'Unavailable' as status
      from fall22_s004_10_unavail_songs uasongs, fall22_s004_10_songs songs
      where (songs.song_id = uasongs.song_id)))
-- group by on Status and get song_count
where status in (:in1, :in2)
group by status
order by song_count"""

# write check statements for in1
in1 = input("Enter song type (A/ U/ B): ").upper()

if in1 == 'A':
    in2 = 'Available'
    in3 = 'Available'
elif in1 == 'U':
    in2 = 'Unavailable'
    in3 = 'Unavailable'
else:
    in2 = 'Available'
    in3 = 'Unavailable'

c.execute(sql, [in2, in3])

num_col = 2
pd_list = []

for row in c:
    x = []
    for i in range(num_col):
        x.append(row[i])
    pd_list.append(x)
    
df_song_stat = pd.DataFrame(pd_list, columns = ["Status", "Song_count"])

conn.close()
print(df_song_stat.to_string())

        Status  Song_count
0  Unavailable          39
1    Available          62